:root{

	/*font-size: calc(1vw + 0.6em);*/
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
li,
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.container{
	max-width:1250px;
	margin: 0 auto;
	/*padding: 0 15px;*/
}
body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: .25px;
	line-height: 28px;
	color:#000;
}
.header{
	/*height: 688px;*/
	/*width: 100%;*/
	background-color: #f6f2f2;
	position: relative;
	padding-top:29px;
}
.header_menu{
	width:1250px;
	height: 89px;
	/*margin-left: 10.5%;*/
	background-color: #313030;
}
nav{

}
.topnav{ /*topnav*/
	margin-left: 358px;
}
.topnav> a{
	display: inline-block;
	text-transform: uppercase;
	color:#e0e0e0;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: .35px;
	padding:32.5px 24px 32.5px 23px;
	font-weight: 700;
	outline: none;
}
.topnav a:hover{
	background-color: #ff3f40;
}
.topnav .icon{
	display: none;
}
.content_1_box{
	margin-top: 108px;
	padding-bottom: 110px;
	display: flex;
	/*justify-content: space-between;*/
}
.cont_1_left h1{
	font-size:60px;
	letter-spacing: 1px;
	font-weight: 800;
	line-height: 72px;
}
.cont_1_left p{
	margin-top: 20px;
}
.default__btn{
	display: inline-block;
	padding: 10.47px 63px;
	background-color:#ff2d2d;
	border:0;
	color:#fff;
	font-size:18.14px;
	line-height: 34.06px;
	letter-spacing: .25px;
	font-weight: 700;
	user-select: none;
	outline: none;
	border-radius: 10px;
	cursor: pointer;
}
.header__btn{
	margin-top: 50px;
}
.cont_1_right{
	width:548px;
	height:356px;
	background-color: #c4c0b1;
	margin-left: 112px;
	box-shadow: 0px 0px 29px 0px #000;
	float:right;
	
}	
.provide__box{
	height: 692px;
	display: flex;
	padding-top: 115px;

}
.provide__box-left{
	
}
.provide__box-title{
	font-weight: 700;
	font-size: 42px;
	line-height: 55px;
	letter-spacing: .1px;
	text-transform: uppercase;
	margin-bottom: 45px;
}
.provide__box-left p{
	/*font-size: 16pt;
	color:#999;
	margin-top: 50px;*/
}
.provide__box-btn{
	margin-top: 62px;
	padding: 8.47px 59px;
	background-color:#fff;
	border:2px solid #ff2d2d;
	color:#ff2d2d;	
}
.provide__box_items{
	width: 609px;
	margin-left: 126px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 44px;

}
.provide__item{
	width: 289px;
	height: 262px;
}
.provide__subtitle{
	margin-top: 23px;
	font-size: 24px;
	line-height: auto;
	letter-spacing: .1px;
	font-weight: 600;
	margin-bottom: 25px;
}
.feature_products{
	/*height: 1979px;*/
}
.products__title{
	font-size: 42px;
	font-weight: 700;
	letter-spacing: .1px;
	text-align: center;
	color:#000;
}
.products__text{
	display:block;
	width: 523px;
	margin: 38px auto 0px;
	text-align: center;
}
.line{
	width: 130px;
	background-color: #ff2d2d;
	height: 2.19px;
	margin-top: 33px;
}
.feature_products-inner .line{
	margin: 33px auto 0;
}
.template_nav{
	text-align: center;
	margin-top: 88px;
	margin-left: 70px;
}
.template_nav a{
	font-size: 22px;
	line-height: 24px;
	letter-spacing: .1px;
	font-weight: 600;
	color:#000;
}
.template_nav a + a{
	margin-left: 60px;
}
.template_nav a:hover{
	color:#ff2d2d;
}
.template__photo_box{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
	margin-top: 66px;
}
.template__photo_box div{
	width: 297px;
	height: 289px;
	background-color: #f5f0dd;
}
.title__left{
	margin-top: 139px;
	font-size: 42px;
	line-height: 55px;
	font-weight: 700;
	letter-spacing: .1px;
}
.subtitle_text{
	margin-top: 42px;
	display: inline-block;
	width: 450px;
}
.meet_our_team_box .line{
	margin: 30px 0 0 0;
}

.profile_box{
	margin-top: 70px;
	display: flex;
}
.profile_photo{
	height: 457px;
	background-color: #f5f0dd;
	width: 322px;
	/*float: left*/;
}
.profile__biografy__box{
	margin-left: 74px;
	padding: 0px 0px 110px 0px;
}
.profile__biografy-title{
	font-size: 30px;
	font-weight: 600;
	text-transform: uppercase;
}
.profile__biografy-text{
	margin: 37px 0 0 0;
}
.profile__biografy_box_links{
	margin-top: 47px;
}
.profile__biografy_box_links a{
	font-style: italic;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: .5px;
	color:#000;
	margin-right: 31px;	
}
.profile__biografy_box_links a:hover{
	color:#ff2d2d;
}
.mark_waugh_biografy_box{
	margin-left: 74px;
	float: right;	

}
.profile_photo{
	height: 457px;
	background-color: #f5f0dd;
	width: 322px;
}
.profile_photos div{
	margin: 46px 19px 0 0;
	height: 215px;
	width: 196px;
	background-color: #f5f0dd;
	display: inline-block;
}
.subscribe_box{
	height: 510px;
	background-color: #f5f0dd;
	color:#000;
}
.subcribe__title{
	text-align: center;
	/*color:#fff;*/
	font-size: 42px;
	line-height: 24px;
	letter-spacing: .25px;
	padding-top: 141px;
	font-weight: 700;

}
.subscribe__text{
	text-align: center;
	/*color:#fff;*/
	margin-top: 35px;
}
.subscribe__innerbox{
	margin:0 auto;
	max-width: 760px;
	width: 100%;
}
.subscribe__innerbox input{
	margin-top: 67px;
	max-width: 517px;
	width: 100%;
	padding: 25px 52px;
	border-radius: 7px;
	border:0;
	outline: none;
}
.subscribe__btn{
	margin-left: 22px;
	max-width: 216px;
	width: 100%;
	padding: 22.47px 58px;
	line-height: 28px;
}
.form{
	height: 985px;
	/*margin-left: 10.4%;*/
}
.form__title{
	margin-top: 106px;
}
.form__subtitle_text{

}
.form .line{
	margin:58px 0 0 0;
	height: 2px;
}
.form__inner{
	margin-top: 75px;
	max-width: 736px;
	width: 100%;
	/*height: 481px;*/
	float: left;
/*	font-size: 18.14px;
	line-height: 34.06px;
	letter-spacing: .25px;*/
}
.form__inner input:first-child{
	width: 338px;
	/*height: 69px;*/
	padding:17.47px 53px;
 	font-size: 18.14px;
	line-height: 34.06px;
	letter-spacing: .25px; 
	background-color: #e5e5e5;
	border-radius: 10px;
	border:none;
	outline: none;
}
.form__inner input:nth-child(2n){
	margin-left: 55px;
	width: 338px;
	padding:17.47px 53px;
	font-size: 18.14px;
	line-height: 34.06px;
	letter-spacing: .25px;
	background-color: #e5e5e5;
	border-radius: 10px;
	border:none;
	outline: none;

}
.form__inner textarea{
	display: block;
	font-family:Open Sans;
	width: 732px;
	height: 249px;
	margin-top:46px;
	padding:30px 52px;
	font-size: 18.14px;	
	line-height: 34.06px;
	letter-spacing: .25px;
	background-color: #e5e5e5;
	border-radius: 10px;
	border:none;
	resize:none;
	outline: none;
}
.form__inner button{
	margin-top: 45px;
	width: 732px;
	padding:18.97px 30px;
	font-size: 18.14px;
	line-height: 34.06px;
	letter-spacing: .25px;
	background-color:#ff3b3b;
	border:0;
	color:#fff;
	outline: none;
	cursor: pointer;
	border-radius: 10px;
}
.contacts{
	float: right;
	margin-top: 75px;
	width:435px;
	height: 483px;
	background-color: #2d2d2d;
	padding:132px 79px;
	color: #e0e0e0;
}
.contacts__title{
	font-size: 18px;
	margin-bottom: 30px;
	font-size: 18.14px;
	line-height: 34.06px;
	letter-spacing: .25px;
}
.contacts p{
	letter-spacing: 1.1px;
	color: #e0e0e0;
}
footer{
	width: 100%;
	height: 111px;
	background-color: #313030;
	margin-top: 44px;
	padding: 45px 0;
	box-sizing: border-box;
}
.footer__text{
	color: #949494;
	font-size: 16pt;
	float: left
}
footer a{
	float:right;
	font-size: 11px;
}
footer a img{
	width: 64px;
	margin-top: -15px;
	height: 64px;
	margin-left: 10px;
}


@media screen and (max-width: 800px) {
	.topnav a{
		display: none;

	}
}